.outertabe {
  width: 800px;
  height: 800px;
  border: solid;
  border-width: 10px;
  border-color: #b18465;
  background-color: #432108;
}

.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
  width: 850px;
  height: 700px;
}

.chess-board th {
  border-right: none;
  border-top: hidden;
  border-bottom: solid;
  border-left: hidden;
  border-width: 10px;
  border-color: #b18465;
  padding: .5em;
  text-align: center;
}

.chess-board td {
  border: none;
  width: 80px;
  height: 80px;
}

.chess-board .light {
  font-size: 50px;
  text-align: center;
  background: #ede4df;
}

.chess-board .dark {
  color: white;
  font-size: 50px;
  text-align: center;
  background: #180f0a;
}

.chess-board .tdfoot {
  border-right: hidden;
  border-top: hidden;
  border-bottom: hidden;
  border-left: solid;
  border-width: 10px;
  border-color: #b18465;
  transform: rotate(-180deg);
  color: #f5e3d7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.chess-board .tdhead {
  border-right: solid;
  border-top: hidden;
  border-bottom: hidden;
  border-left: hidden;
  border-width: 10px;
  border-color: #b18465;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5e3d7;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.chess-board thead {
  transform: rotate(-180deg);
  text-align: center;
  color: #f5e3d7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.chess-board tfoot {
  text-align: center;
  color: #f5e3d7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.chess-board .special {
  border-right: none;
  border-top: solid;
  border-bottom: hidden;
  border-left: hidden;
  border-width: 10px;
  border-color: #b18465;
}
